@import "tailwindcss";

@theme {
    /** Theme primary colors */
    --color-primary-a0:  #b55d8a;
    --color-primary-a10: #be6f96;
    --color-primary-a20: #c781a3;
    --color-primary-a30: #d093b0;
    --color-primary-a40: #d8a5bc;
    --color-primary-a50: #e1b6c9;

    /** Theme surface colors */
    --color-surface-a0: #121212;
    --color-surface-a10: #282828;
    --color-surface-a20: #3f3f3f;
    --color-surface-a30: #575757;
    --color-surface-a40: #717171;
    --color-surface-a50: #8b8b8b;
}

body {background-color: #121212;}
